
h1 {
    color: #66BFBF;
    font-size: 6rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento';
  }
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }